<div class="list_con_box w1000 clearfix">
  <div class="list_con_l fl">
    <a href="about" class="leftMenu_a on">德天介绍</a>
    <a href="culture" class="leftMenu_a">企业文化</a>
    <a href="chairman" class="leftMenu_a">董事长致辞</a>
    <a href="team" class="leftMenu_a">团队介绍</a>
    <a href="deeds" class="leftMenu_a">德天事迹</a>

  </div>
  <div class="list_con_r fr">
    <!--                <span class="data"><i class="data_ico"></i>

              </span>-->
    <div class="list_con_bor">
      <!-- <h3 class="lixt_con_tit">智美体育集团</h3> -->
      <div class="list_con">
        <div>
          <div>
            {{{contents}}}
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>