<div class="list_con_box w1000 clearfix">
  <div class="list_con_l fl">

  </div>
  <div class="list_con_r fr">
    <!--                <span class="data"><i class="data_ico"></i>

                    </span>-->
    <div class="list_con_bor">
      <!-- <h3 class="lixt_con_tit">智美体育集团</h3> -->
      <div class="list_con">
        <div>
          <strong>智美体育集团</strong></div>
        <div>
          &nbsp;</div>
        <div>
          &nbsp;</div>
        <div>
          地址：中国北京市朝阳区酒仙桥10号恒通国际商务园B12C三层（100015 ）</div>
        <div>
          &nbsp;</div>
        <div>
          总机：+8610-58960666</div>
        <div>
          &nbsp;</div>
        <div>
          传真：+8610-58960555</div>
        <br>
        <br>
        <img alt="" src="/public/site/images/er.png" style="width: 200px; height: 200px;"><br>
        <br>


      </div>
    </div>
  </div>
</div>