<div class="list_con_box w1000 clearfix">
  <div class="list_con_l fl">

  </div>
  <div class="list_con_r fr">
    <!--                <span class="data"><i class="data_ico"></i>

                    </span>-->
    <div class="list_con_bor">
      <!-- <h3 class="lixt_con_tit">智美体育集团</h3> -->
      <div class="list_con">
        <div>
          <strong>德天体育文化有限公司</strong></div>
        <div>
          &nbsp;</div>
        <div>
          &nbsp;</div>
        <div>
          地址：北京市北河沿大街83号国家文物局大院</div>
        <div>
          &nbsp;</div>
        <div>
          上海分公司：上海市闸北区华舟大厦1306室</div>
        <br>
        <br>
        <img alt="" src="/public/site/images/er.jpg" style="width: 200px; height: 200px;"><br>
        <br>


      </div>
    </div>
  </div>
</div>