<div class="events_bg"> <span class="close">×</span> <img src="" alt=""> <a class="detail" href="javascript:;" title="" target="_blank">了解详情</a> </div>
<div class="mask"></div>
<div class="content">
  <div class="events w1000">
    <ul class="clearfix">
      <li > <img data-href="#" src="/public/site/images/1-151026160509143.png"/>
        <div class="events_mask"></div>
      </li>
      <li > <img data-href="#" src="/public/site/images/1-15110915405a36.png" alt="岂止于跑"/>
        <div class="events_mask"></div>
      </li>
      <li > <img data-href="#" src="/public/site/images/1-1510161H40Q11.jpg" alt="不一样的马拉松"/>
        <div class="events_mask"></div>
      </li>
      <li > <img data-href="#" src="/public/site/images/1-150RQ4493U46.png" alt="动乐CBL篮球联赛介绍"/>
        <div class="events_mask"></div>
      </li>
    </ul>
  </div>
  <div class="ev_ico_box">
    <ul class="ev_ico oh w1000">
      <li><a href="http://kmrun.51dongle.com/" title="" target="_blank"></a></li>
      <li><a href="http://www.guangzhou-marathon.com/" title="" target="_blank"></a></li>
      <li><a href="http://www.shenyangmarathon.org/" title="" target="_blank"></a></li>
      <li><a href="http://www.changsha-marathon.com/" title="" target="_blank"></a></li>
      <li><a href="http://www.hzim.org/" title="" target="_blank"></a></li>
      <li><a href="javascript:;" title="" target="_blank"></a></li>
      <li><a href="http://www.seasonrun.com/index" title="" target="_blank"></a></li>
    </ul>
  </div>
</div>