<div class="list_con_box w1000 clearfix">
  <div class="list_con_l fl">
    <a href="territory" class="leftMenu_a">战略规划</a>
    <a href="framework" class="leftMenu_a">集团架构</a>
    <a href="industry" class="leftMenu_a on">产业布局</a>


  </div>
  <div class="list_con_r fr">
    <!--                <span class="data"><i class="data_ico"></i>

              </span>-->
    <div class="list_con_bor">
      <!-- <h3 class="lixt_con_tit">智美体育集团</h3> -->
      <div class="list_con">
        <div style="text-align: center;">
          <div>
            <img src="/public/site/images/1-1512151R403b0.jpg">

          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>