<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>德天体育文化有限公司</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="/public/site/style/base.css">
    <link rel="stylesheet" type="text/css" href="/public/site/style/index.css">
    <script type="text/javascript" src="/public/site/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/public/site/js/time.js"></script>
    <script type="text/javascript" src="/public/site/js/index.js"></script>
</head>
<body>
<div class="container">
    <div class="logo sk-16"> <a class="sk16" href="index" title="德天体育"> <img src="/public/site/images/logo2.png" alt=""  height="50">德天体育 </a> </div>
    <div class="nav_box ">
        <ul class="nav clearfix">
            <!--<div class="search_box">-->
                <!--<div class="fr">-->
                    <!--<div class="search_ico1"></div>-->
                    <!--<div class="search search_ico sk-16 fl">-->
                        <!--<form action="/plus/search.php">-->
                            <!--<input type="hidden" name="kwtype" value="0" />-->
                            <!--<input class="sk16" type="search" name="q" value="">-->
                            <!--<input class="sub sk16" type="submit" name="" value="搜索">-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <li>
                <h3 title="关于德天"><a href="about" title="关于德天">关于德天</a></h3>
                <div class="nav_list sk-16">
                    <ul class="nav_bor clearfix">
                        <li><a href="about">德天介绍</a></li>
                        <li><a href="culture">企业文化</a></li>
                        <li><a href="chairman">董事长致辞</a></li>
                        <li><a href="team">团队介绍</a></li>
                        <li><a href="deeds">德天事迹</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <h3 title="德天版图"><a href="territory" title="德天版图">德天版图</a></h3>
                <div class="nav_list sk-16">
                    <ul class="nav_bor clearfix">
                        <li><a href="territory">战略规划</a></li>
                        <li><a href="framework">集团架构</a></li>
                        <li><a href="industry">产业布局</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <h3 title="集团业务"><a href="operate" title="集团业务">集团业务</a></h3>
                <div class="nav_list sk-16">
                    <ul class="nav_bor clearfix">
                        <li><a href="operate">体育赛事运营</a></li>
                        <li><a href="service">体育服务</a></li>
                        <li><a href="marketing">体育营销</a></li>
                        <li><a href="media">体育传媒</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <h3 title="集团新闻"><a href="/news?type=1" title="集团新闻">集团新闻</a></h3>
                <div class="nav_list sk-16">
                    <ul class="nav_bor clearfix">
                        <li><a href="/news?type=1">德天动态</a></li>
                        <li><a href="/news?type=2">体育新闻</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <h3 title="招贤纳士"><a href="recruit" title="招贤纳士">招贤纳士</a></h3>
                <div class="nav_list sk-16">
                    <ul class="nav_bor clearfix">
                    </ul>
                </div>
            </li>
            <li>
                <h3 title="联系我们"><a href="contact" title="联系我们">联系我们</a></h3>
                <div class="nav_list sk-16">
                    <ul class="nav_bor clearfix">
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="shuffling_box">
        <ul class="shuffling clearfix">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="round_btn" style="display:none">
        <ul class="clearfix">
            <li class="bgd71920"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <a id="btn_left" class="shuffling_btn left45 sk-16" href="javascript:;" title=""><</a> <a id="btn_right" class="shuffling_btn right45 sk-16" href="javascript:;" title="">></a>
    <div class="countdown-box">
        <div class="countdown w600">
            <a href="bm" class="bm" >报名</a>
            <span class="font30 fl pl45">开赛倒计时</span>
            <ul class="cd_time fl pl50" style="padding-left:10px">
                <li><i>39</i>Days</li>
                <li><i>19</i>Hr</li>
                <li><i>20</i>Min</li>
                <li><i>20</i>Sec</li>
            </ul>
      <span class=" fr pr20" style="font-size:18px">
      <!---->
      <a href="#" target="_blank" style="font-size:14px">金昌国际越野马拉松</a> </span> </div>
    </div>

        {{{body}}}

</div>
</div>
<div style="clear:both"></div>
<div class="footer">
    <div class="w1000 clearfix">
        <p class="copyright pl30 fl">Copyright&copy 德天体育文化有限公司 版权所有</p>
        <div class="wb_box pr40 fr"> </div>
    </div>
</div>
<script src="/public/site/js/time.js"></script>
<script src="http://qt.gtimg.cn/q=hk01661"></script>

</body>
</html>