<div class="list_con_box w1000 clearfix">
  <div class="list_con_l fl">
    <a href="operate" class="leftMenu_a">体育赛事运营</a>
    <a href="service" class="leftMenu_a">体育服务</a>
    <a href="marketing" class="leftMenu_a on">体育营销</a>
    <a href="media" class="leftMenu_a">体育传媒</a>


  </div>
  <div class="list_con_r fr">
    <!--                <span class="data"><i class="data_ico"></i>

              </span>-->
    <div class="list_con_bor">
      <!-- <h3 class="lixt_con_tit">智美体育集团</h3> -->
      <div class="list_con">
        <div style="text-align: center;">
          <div>
            <div> <strong>德天体育文化有限公司</strong></div>
            <div style="text-align: left;"> &nbsp;</div>
            <div style="text-align: left;"> 德天体育文化有限公司，成立于2016年，是经国家工商总局批准的一家国家级的专业体育赛事承办单位。德天秉承“信誉为本，创新为先”的经营理念，不断开拓进取。</div>
            <div style="text-align: left;"> &nbsp;</div>
            <div style="text-align: left;"> 德天目前是体育赛事经纪公司，拥有体育赛事及活动策划组织、体育研发及推广营销与体育传媒运营开发几大业务版块、多个分支机构体育产业集团。</div>
            <div style="text-align: left;"> &nbsp;</div>
            <div style="text-align: left;"> <div style="text-align: left;"> &nbsp;</div>
              <div style="text-align: left;"> 德天目前是体育赛事经纪公司，拥有体育赛事及活动策划组织、体育研发及推广营销与体育传媒运营开发几大业务版块、多个分支机构体育产业集团。</div></div>

          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>