<div class="list_con_box w1000 clearfix">
  <div class="list_con_l fl">
    <a href="/news?type=1" class="leftMenu_a">德天动态</a>
    <a href="/news?type=2" class="leftMenu_a">体育新闻</a>

  </div>
  <div class="list_con_r fr">
    <!--                <span class="data"><i class="data_ico"></i>

              </span>-->
    <div class="list_con_bor">
      <!-- <h3 class="lixt_con_tit">智美体育集团</h3> -->
      <div class="list_con">
        <div>
          <div>
            <p style="font-size: 16px;padding-bottom: 5px;text-align: center">{{{singleNew.title}}}</p>
            <p style="font-size: 12px;padding-bottom: 5px;text-align: center">作者：{{{singleNew.createdUser.realName}}}&nbsp;&nbsp;发布时间：{{{formatDate singleNew.updatedTime}}}</p>
            {{{singleNew.content}}}
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>