<div class="list_con_box w1000 clearfix">
  <div class="list_con_l fl">
    <a href="/news?type=1" class="leftMenu_a">德天动态</a>
    <a href="/news?type=2" class="leftMenu_a">体育新闻</a>

  </div>
  <div class="list_con_r fr">
    <!--                <span class="data"><i class="data_ico"></i>

              </span>-->
    <div class="list_con_bor">
      <!-- <h3 class="lixt_con_tit">智美体育集团</h3> -->
      <div class="list_con">
        {{#news}}
        <div class="tzqb" style="height:30px; line-height:30px; border-bottom:#ccc dotted 1px;"> <a href="/newsDetail?id={{id}}" target="_blank">{{title}}</a><span class="tzqbt">{{formatDateYYYYMMDD createdTime}}</span></div>
        {{/news}}
      </div>
      <div class="pull-right">
        {{sitePaginate pagination}}
      </div>
    </div>
  </div>
</div>