<!-- Info boxes -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">新闻数</span>
                <span class="info-box-number">{{newCount}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">报名人数</span>
                <span class="info-box-number">{{activityAppliesCount}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->